<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
    <form method="POST" action="/team">
    <input type="text" placeholder="Team Name" name="name">
    <input type="text" placeholder="Coach" name="coach">
    <input type="text" placeholder="Point Guard" name="pg">
    <input type="text" placeholder="Shooting Guard" name="sg">
    <input type="text" placeholder="Power Forward" name="pf">
    <input type="text" placeholder="Small Forward" name="sf">
    <input type="text" placeholder="Center" name="c">
    <input type="submit" value="Submit" id="Submit">
 </body>
</html>

# Team Name: durigibles

# Coach: fanny flartnarth
# Point Guard: dirk duligenary
# Shooting Guard: sims santagorus
# Power Forward: merv marv
# Small Forward: zil zantusian
# Center: Ed
